.profile {
  width: 200px;
  display: block;
  margin: auto;
}

.box {
  margin: 20px; /*상우하좌 시계방향*/
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px;
}

.left-box {
  width: 100px;
  height: 100px;
  float: left;
}
.right-box {
  width: 100px;
  height: 100px;
  float: left;
}
.container {
  width: 800px;
}
.header {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}
.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  float: left;
}
.right {
  width: 80%;
  height: 400px;
  background: coral;
  float: left;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  clear: both; /*float가 있는 부분 다음에 줘야 보임*/
}
.icon {
  width: 100px;
  height: 100px;
  float: left;
  font: 15;
}
.introduce {
  display: block;
}
.imagebox {
  width: 20%;
  float: left;
}
.contents {
  width: 80%;
  float: left;
}
.imagebox img {
  width: 100px;
  height: 100px;
  float: left;
}
.title {
  clear: both;
}
