.profile {
  width: 200px;
  display: block;
  margin: auto;
}

.box {
  margin: 20px; /*상우하좌 시계방향*/
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px;
}

.left-box {
  width: 100px;
  height: 100px;
  float: left;
}
.right-box {
  width: 100px;
  height: 100px;
  float: left;
}
.container {
  width: 800px;
}
.header {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}
.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  float: left;
}
.right {
  width: 80%;
  height: 400px;
  background: coral;
  float: left;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  clear: both; /*float가 있는 부분 다음에 줘야 보임*/
}
.icon {
  width: 100px;
  height: 100px;
  float: left;
  font: 15;
}
.introduce {
  display: block;
}
.imagebox {
  width: 20%;
  float: left;
}
.contents {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.imagebox img {
  width: 100px;
  height: 100px;
  float: left;
}
.title {
  clear: both;
}
.blog-content{
    width: 80%;
    height: 200px;
    /* background: #eee; */
    float:left;
}
.blog-img{
    width: 20%;
    height: 200px;
    /* background:yellow; */
    float:left
}
.blog-name{
    float:left;
}
.blog-profile{
    float:left;
    width: 50px;
}
.navbar li{
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
.navbar a{
  font-size: 16px;
  text-decoration: none;
}
.main-background {
  width: 100% ;
  height:500px;
  background-image: url(./shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:1px;
}

.main-title{
  color: white;
  font-size: 40px;
  margin-top:200px;
  text-align: center;
  
}
.main-content{
  text-align: center;
  color: white;
}
.main-button{
  width: 150px;
  padding:15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  margin: auto;
  display: block;
}
.sub-background{
  margin: auto;
  width: 500px;
  height:200px;
  background-color:#ced4da;
  padding:1px;
  position: relative;
  top:50px;
}
.sub-title{
  margin-top:50px;
  text-align: center;
}
.sub-content{
  text-align: center;
}