.profile { 
    width : 200px;
    display : block;
    margin : auto;
  }

  .box {
    margin : 20px; /*상우하좌 시계방향*/
    padding : 30px;
    border : 1px solid black;
    border-radius : 5px;
    box-shadow: 5px 5px;
  }